html, body
{
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    overflow: hidden;
    display: block; 
}

.header
{
    height: 9%;
    background: blue;
}

.title 
{
    position:relative; 
    top: 10px;
    bottom: 0;
    left: 30px;
    font-family: "SimSun";
    font-size: 150%;
    color: white;
}

.canvasContainer {
    width: 100%;
    height: 86%;
}

.contextPannel{ 
    display: none;
    position: absolute;    
    background-color: white; 
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #888888;
    padding: 10px;
}

.stationName{
    font-weight: bold;
}

.lineId{
    color: white;
    font-weight: bold;
    width: 18px;
    display: inline-block;
    text-align: center
}

.closeButton{
    float: right;
    color: blue;
    font-size: 4px;
    cursor: hand;
    cursor: pointer;
}

.closeButton:hover{
    float: right;
    color: blue;
    font-size: 4px;
    cursor: hand;
    cursor: pointer;
    text-decoration:underline
}

.footer
{
    height: 5%;
    background: #00fa9a;
    width: 100%;
}
