<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="None"></authentication>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MetroWebServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="EndPointBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <servicehostingenvironment aspnetcompatibilityenabled="true">
      <standardendpoints>
        <webscriptendpoint>
          <standardendpoint crossdomainscriptaccessenabled="true">
          </standardendpoint>
        </webscriptendpoint>
      </standardendpoints>
    </servicehostingenvironment>
    
    <services>
      <service name ="MetroWebWCFService.MetroWebService" behaviorConfiguration="MetroWebServiceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="MetroWebWCFService.IMetroWebService" behaviorConfiguration ="EndPointBehavior" />
      </service>
    </services>
    
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
