<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MetroWebDatabase" connectionString="Data Source=.\sqlexpress;Initial Catalog=MetroWeb;Persist Security Info=True;User ID=sa;Pwd=abc123"/>
    <!--<add name="MetroWebDatabase" connectionString="Data Source=.;Initial Catalog=MetroWeb;Persist Security Info=True;User ID=sa;Pwd=abc123"/>-->
  </connectionStrings>
</configuration>